<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.one">
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.One"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".specialfunction.wxsport"></activity>
        <activity android:name=".UserMessage.qq" />
        <activity android:name=".UserMessage.email" />
        <activity android:name=".UserMessage.nickname" />
        <activity android:name=".My.accounts" />
        <activity android:name=".activity.resetPassword" />
        <activity android:name=".My.PassWord" />
        <activity android:name=".My.feedbacks" />
        <activity android:name=".My.abouts" />
        <activity android:name=".activity.myactivity" />
        <activity android:name=".zhihu_webview" />
        <activity android:name=".weibo_webview" />
        <activity android:name=".function.function6" />
        <activity android:name=".activity.function5_preview" />
        <activity android:name=".activity.function4_preview" />
        <activity android:name=".function.function5" />
        <activity android:name=".function.function4" />
        <activity android:name=".function.function3" />
        <activity android:name=".function.function2" />
        <activity android:name=".function.function1" />
        <activity android:name=".activity.functionactivity" />
        <activity android:name=".activity.homeactivity" />
        <activity android:name=".activity.register_activity" />
        <activity android:name=".activity.login_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- <action android:name="android.intent.action.VIEW"/> -->
                <!-- <category android:name="android.intent.category.DEFAULT"/> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
                <!-- <data android:scheme="acloudtwei"/> -->

            </intent-filter>
        </activity>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.one.BmobContentProvider" />

        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="405" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>